* {
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(164, 178, 226); */
}

html {
    width: 100vw;
    /* height: 100%; */
}

.heading {
    /* background: rgb(233, 48, 48); */
    height: 10vw;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TPI logo */

.heading img {
    height: 7vw;
    width: 10vw;
    padding: 0px 5vw;

}

.heading h1 {
    /* color: rgb(248, 245, 245); */
    padding: 0px 3vw;
    font-size: 3.5vw;
    word-spacing: 0.8vw;
    /* color: rgb(0, 47, 255); */
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(to right, #1deaea, #8d22e4,
            #f5e907, #ea0808, #06e7df); */
    background: linear-gradient(to right, #f23a03, #d6c6c6,
            #04f450);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* CSS for navigation bar starts here */
.navbar {
    width: 100vw;
    height: 3vw;
    background-color: rgb(128, 124, 124);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 1vw;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 0px 3vw;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    font-family: Arial;
    margin-right: 3.5vw;
    /* font-size: 2vw; */
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    /* padding: 0px 3vw; */
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 1vw;
    border: none;
    outline: none;
    color: white;
    padding: 1vw 1.8vw;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    /* Important for vertical align on mobile phones */
    margin-left: 1.6vw;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    color: rgb(0, 0, 0);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 11vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 9;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(172, 191, 253);

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    /* background: rgb(102, 98, 207); */

}


/* CSS for Navigation bar ends here */

/* CSS for QUTOES container start here............................................... */
.quotes {
    width: 60vw;
    height: 20vw;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quotes>h1 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 1000;


}

/* CSS for QUOTES CONTAIONER ends here............................................... */

/* CSS for container start here...................................................... */

.container {
    width: 100vw;
    /* height: 80vh; */
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

#para {
    background-color: aliceblue;
}

/* CSS for left container starts.............................. */
.right {
    width: 44%;
    height: 100%;
    /* transform: translateX(5vw); */
    z-index: -1;
}

.container .right h2 {
    font-size: 2vw;
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #216bf3, #8d22e4,
            #f5e907, #ea0808);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.container .right p {
    font-size: 1.5vw;
    padding: 0 1.5vw;
    line-height: 3vw;
    font-family: Arial, Helvetica, sans-serif;

}


/* CSS for left container ends............................ */

/* CSS for right container starts......................... */

.left {
    width: 55%;
    /* height: 70%; */
    position: relative;
    /* margin-left: 1vw; */
    overflow: hidden;
}

.image-container {
    width: 85%;
    height: 80%;
    position: absolute;
    transform: translate(4vw, 5vw);

}

.left .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 4vw;
}


/* CSS for right container ends */

/* CSS for container ends here.................................................. */




/* CSS for container2 Starts here.................................................. */
.container2 {
    width: 100vw;
    /* height: 90vh; */
    /* background-color: #ea0808; */
}

.container2 p {
    font-size: 1.5vw;
    line-height: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.6vw;
}

/* CSS for container2 ends here.................................................. */


/* CSS for container3 Starts here.................................................. */

.container3 {
    width: 100vw;
    height: auto;
    font-size: 2vw;
    padding: 2px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container3 .card {
    width: 300px;
    height: 500px;
    /* background-color: #ea0808; */
    box-shadow: 3px 8px 16px 3px rgba(0, 0, 0, 0.3);
    /* border: 2px solid #000; */
    border-radius: 5px;
    margin: 10px 10px;
    padding: 5px;
}

.container3 .card .img {
    width: 100%;
    height: 250px;
    /* background-color: #04f450; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .card img {
    width: 75%;
    height: 80%;
}

.container3 .card h3 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    font-family: sans-serif;
}

.container3 .card p {
    font-size: 20px;
    text-align: start;
    font-family: sans-serif;
}


/* CSS for container3 ends here.................................................. */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    height: 3vh;
    width: 100vw;
    background: rgb(141, 154, 206);
    color: white;
}






/* Code to make website responsive............................................... */


@media screen and (max-width: 600px) {


    .navbar {
        height: 27px;
        background-color: rgb(172, 191, 253);
    }

    .navbar a {
        font-size: 13px;

    }

    .dropdown .dropbtn {
        font-size: 13px;

    }

    .dropdown-content a {
        float: none;
        color: rgb(13, 32, 243);
        padding: 2px 5px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-weight: 100;
        font-size: 13px;
    }

    .container {
        width: 100%;
        height: auto;

    }

    .left {
        width: 100%;
        height: 35vw;
        z-index: -1;
    }

    .image-container {
        width: auto;
        height: 100%;
        transform: translate(12vw, 0vw);
        /* margin-right: 10%; */
    }

    .left .image-container img {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 4vw;
    }

    .right {
        width: 100%;
        height: auto;
        margin-top: 10px;
        /* padding-left: 5%; */
    }

    .container .right p {
        font-size: 10px;
        /* padding-left: 1.5vw; */
        line-height: 2vw;

    }

    .container2 {
        width: 100vw;
        height: auto;

    }

    .container2 p {
        font-size: 10px;
        line-height: 2vw;
        padding-top: 0vw;
    }


    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        height: 2vh;
        font-size: 12px;
    }


}